@font-face {
    font-family: "Pixel Operator Mono";
    src: url("../resources/font/PixelOperatorMono.ttf") format("truetype");
}

@font-face {
    font-family: "Pixel Operator Mono Bold";
    src: url("../resources/font/PixelOperatorMono-Bold.ttf") format("truetype");
}

* {
    font-family: 'Pixel Operator Mono';
    font-size: 16px;
}

body {
    background-color: black;
    color: #e5e5ff;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

b {
    font-family: 'Pixel Operator Mono Bold';
}

.window {
    width: 800px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #e5e5ff;
    box-shadow: 4px 4px 0px 0px #e5e5ff;
    -webkit-box-shadow: 4px 4px 0px 0px #e5e5ff;
    -moz-box-shadow: 4px 4px 0px 0px #e5e5ff;
}

.window-header {
    height: 28px;
    background-color: #181818;
    border-bottom: 1px solid #e5e5ff;
}

.window-body {
    background-color: #181818;
    overflow: scroll;
    padding-top: 5px;
    width: 100%;
    height: 93%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.window-title {
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.console-print {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    white-space: pre-line;
}

.console-print.error {
    color: #ff0000;
}

.console-prompt {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}

.prompt-line {
    display: flex;
    flex-direction: row;
    height: 16px;
}

input {
    background-color: #181818;
    outline: none;
    border: none;
    color: #e5e5ff;
    width: 100%;
    height: 100%;
}