@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* GLOBAL VARIABLES */

:root {
    --color-background: #edf2f4;
    --color-accent: #ef233c;
    --color-important: #d90429;
    --color-title: #2b2d42;
    --color-text: #8D99AE;

    --font-title: 'Roboto Slab', serif;
    --font-regular: 'Roboto Mono', monospace;

    --header-container-height: 30vh;
    --header-height: 15vh;
}

/* GENERAL SELECTORS */

* {
    margin: 0;
}

body {
    background-color: var(--color-background);
    font-weight: 400;
}

p {
    color: var(--color-text);
    font-family: var(--font-regular);
}

/* ID SELECTORS */

#logo {
    width: calc(var(--header-height) / 2);
    height: calc(var(--header-height) / 2);
    position: absolute;
    top: calc(var(--header-height) / 2);
    left: calc(var(--header-height) / 2);
    background: url("../img/logo.png") no-repeat top center;
    background-size: calc(var(--header-height) / 2) auto;
}

#logo-text {
    margin-left: 10vh;
    color: var(--color-important);
    font-family: var(--font-title);
    font-weight: 400;
    font-size: calc(var(--header-height) / 3);
    vertical-align: middle;
}

#cover {
    height: 70vh;
    background-color: var(--color-important);
    background: url("../img/cover.png") no-repeat top right, var(--color-accent);
    background-size: 150vh auto;
}

#header-container {
    height: var(--header-container-height);
}

#header {
    display: flex;
    justify-content: space-between;
    padding-left: calc(var(--header-height) / 2);
    padding-right: calc(var(--header-height) / 2);
    height: var(--header-height);
}

#span-title {
    color: var(--color-title);
    font-family: var(--font-title);
    font-weight: 400;
    font-size: calc(var(--header-height) / 3);
    line-height: var(--header-height);
    vertical-align: middle;
}

#span-member {
    color: var(--color-title);
    font-family: var(--font-title);
    font-weight: 400;
    font-size: calc(var(--header-height) / 4);
    line-height: var(--header-height);
    vertical-align: middle;
}

#header-link {
    color: var(--color-accent);
    text-decoration: none;
}

#header-link:hover {
    transition: 200ms;
    color: var(--color-title);
}

#article {
    display: flex;
    justify-content: space-between;
    padding-left: calc(var(--header-height) / 2);
    padding-right: calc(var(--header-height) / 2);
    width: 100vh;
}

#highlight {
    color: var(--color-important);
}